name: Auto Deploy Laravel via FTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'

    - name: Install Composer
      run: composer install --no-dev --optimize-autoloader

    # Upload source Laravel (kecuali public)
    - name: Deploy App (laravel_app)
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_HOST }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./
        server-dir: ${{ secrets.CPANEL_APP_PATH }}/
        exclude: |
          **/.git*
          **/node_modules/**
          **/public/**
          **/.env

    # Upload public folder
    - name: Deploy Public Folder
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_HOST }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: public/
        server-dir: ${{ secrets.CPANEL_PUBLIC_PATH }}/
